repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: run-notebook
        name: Run Jupyter Notebook
        entry: jupyter nbconvert --to notebook --execute --inplace project.ipynb
        language: system
        files: ^(project\.ipynb|auxiliary/.*\.py)$
        pass_filenames: false
